*.iml
.gradle
.kotlin
local.properties
/.idea/
.DS_Store
/build
/app/build
/innertube/build
/jiosaavn/build
/captures
.externalNativeBuild
.cxx
/app/release
*.apk
*.aab
*.jks
*.keystore
*.log
logcat.txt
*test.json
qobuz*.json